<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/" >Home</a></li>
                <li class="main-header__item"><a href="/user" class="active">User</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>User Page</h1>
        <p>Welcome to the user page!</p>
        <p>Here you can manage your account settings and preferences
            <ul>
                <li><a href="/user/profile">Profile</a></li>
                <li><a href="/user/orders">Orders</a></li>
                <li><a href="/user/settings">Settings</a></li>
            </ul>
        </p>
    </main>
</body>
</html>